version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: croundfunding_postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: croundfunding
    ports:
      - "5433:5432"