server:
  port: 8081

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-email@gmail.com
    password: your-app-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  application:
    name: CrowdfundingService
  datasource:
    url: jdbc:postgresql://localhost:5433/croundfunding
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.time_zone: UTC
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB

jwt:
  secret: verySecretKeyThatShouldBeAtLeast256BitsLongForHS256Algorithm
  expirationMs: 86400000

frontend:
  url: http://localhost:8082